@model List<ErgebnisViewModel>

@{
}


<h1>Alle eingetragenen Ergebnisse</h1>


<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Spiel-Name</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Punkte A</th>
        <th>Punkte B</th>
        <th>Delete</th>
        <th>Gewinner</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.SpielName</td>
            <td>@item.TeamAName</td>
            <td>@item.TeamBName</td>
            <td>@item.PunkteTeamA</td>
            <td>@item.PunkteTeamB</td>
            <td>
                <a asp-controller="Ergebnis" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Löschen</a>
                <a asp-controller="Ergebnis" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Bearbeiten</a>
            </td>
            <td>@item.GewinnerTeamName</td>
        </tr>
    }
    </tbody>
</table>