@model GruppenAnzeigeViewModel

@{
    
}

<h2>Gruppe A</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Platzierung</th>
        <th>Team-Nr</th>
        <th>Name</th>
        <th>Punkte</th>
        <th>Bilanz</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.GruppeATeams)
    {
        <tr>
            <td>1.</td>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Punkte</td>
            <td>@item.Bilanz</td>
        </tr>
    }
    </tbody>
</table>


<h2>Kommende Spiele</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Spiel-Name</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Startzeit</th>
        <th>Platte</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.KommendeGruppeASpiele)
    {
        <tr>
            <td>@item.SpielName</td>
            <td>@item.TeamAName</td>
            <td>@item.TeamBName</td>
            <td>@item.StartZeit</td>
            <td>@item.Platte</td>
        </tr>
    }
    </tbody>
</table>


<h2>Bereits gespielt</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Spiel-Name</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Ergebnis</th>
        <th>Gewinner</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.VergangeneGruppeASpiele)
    {
        <tr>
            <td>@item.SpielName</td>
            <td>@item.TeamAName</td>
            <td>@item.TeamBName</td>
            <td>@item.Ergebnis</td>
            <td>@item.GewinnerName</td>
        </tr>
    }
    </tbody>
</table>



<h2>Gruppe B</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Platzierung</th>
        <th>Team-Nr</th>
        <th>Name</th>
        <th>Punkte</th>
        <th>Bilanz</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.GruppeBTeams)
    {
        <tr>
            <td>1.</td>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Punkte</td>
            <td>@item.Bilanz</td>
        </tr>
    }
    </tbody>
</table>

<h2>Kommende Spiele</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Spiel-Name</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Startzeit</th>
        <th>Platte</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.KommendeGruppeBSpiele)
    {
        <tr>
            <td>@item.SpielName</td>
            <td>@item.TeamAName</td>
            <td>@item.TeamBName</td>
            <td>@item.StartZeit</td>
            <td>@item.Platte</td>
        </tr>
    }
    </tbody>
</table>


<h2>Bereits gespielt</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Spiel-Name</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Ergebnis</th>
        <th>Gewinner</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.VergangeneGruppeBSpiele)
    {
        <tr>
            <td>@item.SpielName</td>
            <td>@item.TeamAName</td>
            <td>@item.TeamBName</td>
            <td>@item.Ergebnis</td>
            <td>@item.GewinnerName</td>
        </tr>
    }
    </tbody>
</table>



<h2>Gruppe C</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Platzierung</th>
        <th>Team-Nr</th>
        <th>Name</th>
        <th>Punkte</th>
        <th>Bilanz</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.GruppeCTeams)
    {
        <tr>
            <td>1.</td>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Punkte</td>
            <td>@item.Bilanz</td>
        </tr>
    }
    </tbody>
</table>

<h2>Kommende Spiele</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Spiel-Name</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Startzeit</th>
        <th>Platte</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.KommendeGruppeCSpiele)
    {
        <tr>
            <td>@item.SpielName</td>
            <td>@item.TeamAName</td>
            <td>@item.TeamBName</td>
            <td>@item.StartZeit</td>
            <td>@item.Platte</td>
        </tr>
    }
    </tbody>
</table>


<h2>Bereits gespielt</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Spiel-Name</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Ergebnis</th>
        <th>Gewinner</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.VergangeneGruppeCSpiele)
    {
        <tr>
            <td>@item.SpielName</td>
            <td>@item.TeamAName</td>
            <td>@item.TeamBName</td>
            <td>@item.Ergebnis</td>
            <td>@item.GewinnerName</td>
        </tr>
    }
    </tbody>
</table>


<h2>Gruppe D</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Platzierung</th>
        <th>Team-Nr</th>
        <th>Name</th>
        <th>Punkte</th>
        <th>Bilanz</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.GruppeDTeams)
    {
        <tr>
            <td>1.</td>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Punkte</td>
            <td>@item.Bilanz</td>
        </tr>
    }
    </tbody>
</table>

<h2>Kommende Spiele</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Spiel-Name</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Startzeit</th>
        <th>Platte</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.KommendeGruppeDSpiele)
    {
        <tr>
            <td>@item.SpielName</td>
            <td>@item.TeamAName</td>
            <td>@item.TeamBName</td>
            <td>@item.StartZeit</td>
            <td>@item.Platte</td>
        </tr>
    }
    </tbody>
</table>


<h2>Bereits gespielt</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Spiel-Name</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Ergebnis</th>
        <th>Gewinner</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.VergangeneGruppeDSpiele)
    {
        <tr>
            <td>@item.SpielName</td>
            <td>@item.TeamAName</td>
            <td>@item.TeamBName</td>
            <td>@item.Ergebnis</td>
            <td>@item.GewinnerName</td>
        </tr>
    }
    </tbody>
</table>

<h2>Gruppe E</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Platzierung</th>
        <th>Team-Nr</th>
        <th>Name</th>
        <th>Punkte</th>
        <th>Bilanz</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.GruppeETeams)
    {
        <tr>
            <td>1.</td>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Punkte</td>
            <td>@item.Bilanz</td>
        </tr>
    }
    </tbody>
</table>

<h2>Kommende Spiele</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Spiel-Name</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Startzeit</th>
        <th>Platte</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.KommendeGruppeESpiele)
    {
        <tr>
            <td>@item.SpielName</td>
            <td>@item.TeamAName</td>
            <td>@item.TeamBName</td>
            <td>@item.StartZeit</td>
            <td>@item.Platte</td>
        </tr>
    }
    </tbody>
</table>


<h2>Bereits gespielt</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Spiel-Name</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Ergebnis</th>
        <th>Gewinner</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.VergangeneGruppeESpiele)
    {
        <tr>
            <td>@item.SpielName</td>
            <td>@item.TeamAName</td>
            <td>@item.TeamBName</td>
            <td>@item.Ergebnis</td>
            <td>@item.GewinnerName</td>
        </tr>
    }
    </tbody>
</table>


<h2>Gruppe F</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Platzierung</th>
        <th>Team-Nr</th>
        <th>Name</th>
        <th>Punkte</th>
        <th>Bilanz</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.GruppeFTeams)
    {
        <tr>
            <td>1.</td>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Punkte</td>
            <td>@item.Bilanz</td>
        </tr>
    }
    </tbody>
</table>

<h2>Kommende Spiele</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Spiel-Name</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Startzeit</th>
        <th>Platte</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.KommendeGruppeFSpiele)
    {
        <tr>
            <td>@item.SpielName</td>
            <td>@item.TeamAName</td>
            <td>@item.TeamBName</td>
            <td>@item.StartZeit</td>
            <td>@item.Platte</td>
        </tr>
    }
    </tbody>
</table>


<h2>Bereits gespielt</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Spiel-Name</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Ergebnis</th>
        <th>Gewinner</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.VergangeneGruppeFSpiele)
    {
        <tr>
            <td>@item.SpielName</td>
            <td>@item.TeamAName</td>
            <td>@item.TeamBName</td>
            <td>@item.Ergebnis</td>
            <td>@item.GewinnerName</td>
        </tr>
    }
    </tbody>
</table>


<h2>Gruppe G</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Platzierung</th>
        <th>Team-Nr</th>
        <th>Name</th>
        <th>Punkte</th>
        <th>Bilanz</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.GruppeGTeams)
    {
        <tr>
            <td>1.</td>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Punkte</td>
            <td>@item.Bilanz</td>
        </tr>
    }
    </tbody>
</table>

<h2>Kommende Spiele</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Spiel-Name</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Startzeit</th>
        <th>Platte</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.KommendeGruppeGSpiele)
    {
        <tr>
            <td>@item.SpielName</td>
            <td>@item.TeamAName</td>
            <td>@item.TeamBName</td>
            <td>@item.StartZeit</td>
            <td>@item.Platte</td>
        </tr>
    }
    </tbody>
</table>


<h2>Bereits gespielt</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Spiel-Name</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Ergebnis</th>
        <th>Gewinner</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.VergangeneGruppeGSpiele)
    {
        <tr>
            <td>@item.SpielName</td>
            <td>@item.TeamAName</td>
            <td>@item.TeamBName</td>
            <td>@item.Ergebnis</td>
            <td>@item.GewinnerName</td>
        </tr>
    }
    </tbody>
</table>
