@model GruppenAnzeigeViewModel

@{
    
}

<h2>Gruppe A</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Team-Nr</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.GruppeATeams)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
    </tbody>
</table>

<h2>Gruppe B</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Team-Nr</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.GruppeBTeams)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
    </tbody>
</table>


<h2>Gruppe C</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Team-Nr</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.GruppeCTeams)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
    </tbody>
</table>


<h2>Gruppe D</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Team-Nr</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.GruppeDTeams)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
    </tbody>
</table>


<h2>Gruppe E</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Team-Nr</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.GruppeETeams)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
    </tbody>
</table>


<h2>Gruppe F</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Team-Nr</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.GruppeFTeams)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
    </tbody>
</table>


<h2>Gruppe G</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Team-Nr</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.GruppeGTeams)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
    </tbody>
</table>