@model GruppenPhaseViewModel

@{
    
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="GruppenPhase" asp-action="Index">Alle</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="GruppenPhase" asp-action="GruppeA">Gruppe A</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="GruppenPhase" asp-action="GruppeB">Gruppe B</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="GruppenPhase" asp-action="GruppeC">Gruppe C</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="GruppenPhase" asp-action="GruppeD">Gruppe D</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="GruppenPhase" asp-action="GruppeE">Gruppe E</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="GruppenPhase" asp-action="GruppeF">Gruppe F</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="GruppenPhase" asp-action="GruppeG">Gruppe G</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<h2>Gruppe C</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Platzierung</th>
        <th>Team-Nr</th>
        <th>Name</th>
        <th>Punkte</th>
        <th>Bilanz</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.GruppeCTeams)
    {
        <tr>
            <td>1.</td>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Punkte</td>
            <td>@item.Bilanz</td>
        </tr>
    }
    </tbody>
</table>

<h2>Kommende Spiele</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Spiel-Name</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Startzeit</th>
        <th>Platte</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.KommendeGruppeCSpiele)
    {
        <tr>
            <td>@item.SpielName</td>
            <td>@item.TeamAName</td>
            <td>@item.TeamBName</td>
            <td>@item.StartZeit</td>
            <td>@item.Platte</td>
        </tr>
    }
    </tbody>
</table>


<h2>Bereits gespielt</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Spiel-Name</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Ergebnis</th>
        <th>Gewinner</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.VergangeneGruppeCSpiele)
    {
        <tr>
            <td>@item.SpielName</td>
            <td>@item.TeamAName</td>
            <td>@item.TeamBName</td>
            <td>@item.Ergebnis</td>
            <td>@item.GewinnerName</td>
        </tr>
    }
    </tbody>
</table>