@model AlleGruppenViewModel

@{
}

<h1>Gruppe A</h1>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Team-Nummer</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.GruppeA)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
    </tbody>
</table>

<h1>Gruppe B</h1>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Team-Nummer</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.GruppeB)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
    </tbody>
</table>


<h1>Gruppe C</h1>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Team-Nummer</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.GruppeC)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
    </tbody>
</table>


<h1>Gruppe D</h1>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Team-Nummer</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.GruppeD)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
    </tbody>
</table>


<h1>Gruppe E</h1>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Team-Nummer</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.GruppeE)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
    </tbody>
</table>


<h1>Gruppe F</h1>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Team-Nummer</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.GruppeF)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
    </tbody>
</table>


<h1>Gruppe G</h1>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Team-Nummer</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.GruppeG)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
    </tbody>
</table>
