@model IndexGruppenViewModel

@{
    
}

<h1>Alle Spiele in der Gruppenphase</h1>

<h2>Gruppe A</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Team-Nr</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Team-Nr</th>
        <th>CREATE</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.GruppeASpiele)
    {
        <tr>
            <td>@item.TeamA.Id</td>
            <td>@item.TeamA.Name</td>
            <td>@item.TeamB.Name</td>
            <td>@item.TeamB.Id</td>
            <td>
                <a asp-controller="Spiel" asp-action="Create" asp-route-teamAId="@item.TeamA.Id" asp-route-teamBId ="@item.TeamB.Id" class="btn btn-sm btn-outline-secondary">Anlegen</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<h2>Gruppe B</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Team-Nr</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Team-Nr</th>
        <th>CREATE</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.GruppeBSpiele)
    {
        <tr>
            <td>@item.TeamA.Id</td>
            <td>@item.TeamA.Name</td>
            <td>@item.TeamB.Name</td>
            <td>@item.TeamB.Id</td>
            <td>
                <a asp-controller="Spiel" asp-action="Create" asp-route-teamAId="@item.TeamA.Id" asp-route-teamBId ="@item.TeamB.Id" class="btn btn-sm btn-outline-secondary">Anlegen</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<h2>Gruppe C</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Team-Nr</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Team-Nr</th>
        <th>CREATE</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.GruppeCSpiele)
    {
        <tr>
            <td>@item.TeamA.Id</td>
            <td>@item.TeamA.Name</td>
            <td>@item.TeamB.Name</td>
            <td>@item.TeamB.Id</td>
            <td>
                <a asp-controller="Spiel" asp-action="Create" asp-route-teamAId="@item.TeamA.Id" asp-route-teamBId ="@item.TeamB.Id" class="btn btn-sm btn-outline-secondary">Anlegen</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<h2>Gruppe D</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Team-Nr</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Team-Nr</th>
        <th>CREATE</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.GruppeDSpiele)
    {
        <tr>
            <td>@item.TeamA.Id</td>
            <td>@item.TeamA.Name</td>
            <td>@item.TeamB.Name</td>
            <td>@item.TeamB.Id</td>
            <td>
                <a asp-controller="Spiel" asp-action="Create" asp-route-teamAId="@item.TeamA.Id" asp-route-teamBId ="@item.TeamB.Id" class="btn btn-sm btn-outline-secondary">Anlegen</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<h2>Gruppe E</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Team-Nr</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Team-Nr</th>
        <th>CREATE</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.GruppeESpiele)
    {
        <tr>
            <td>@item.TeamA.Id</td>
            <td>@item.TeamA.Name</td>
            <td>@item.TeamB.Name</td>
            <td>@item.TeamB.Id</td>
            <td>
                <a asp-controller="Spiel" asp-action="Create" asp-route-teamAId="@item.TeamA.Id" asp-route-teamBId="@item.TeamB.Id" class="btn btn-sm btn-outline-secondary">Anlegen</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<h2>Gruppe F</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Team-Nr</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Team-Nr</th>
        <th>CREATE</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.GruppeFSpiele)
    {
        <tr>
            <td>@item.TeamA.Id</td>
            <td>@item.TeamA.Name</td>
            <td>@item.TeamB.Name</td>
            <td>@item.TeamB.Id</td>
            <td>
                <a asp-controller="Spiel" asp-action="Create" asp-route-teamAId="@item.TeamA.Id" asp-route-teamBId ="@item.TeamB.Id" class="btn btn-sm btn-outline-secondary">Anlegen</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<h2>Gruppe G</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Team-Nr</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Team-Nr</th>
        <th>CREATE</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.GruppeGSpiele)
    {
        <tr>
            <td>@item.TeamA.Id</td>
            <td>@item.TeamA.Name</td>
            <td>@item.TeamB.Name</td>
            <td>@item.TeamB.Id</td>
            <td>
                <a asp-controller="Spiel" asp-action="Create" asp-route-teamAId="@item.TeamA.Id" asp-route-teamBId ="@item.TeamB.Id" class="btn btn-sm btn-outline-secondary">Anlegen</a>
            </td>
        </tr>
    }
    </tbody>
</table>